body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.night-btn {
    position: fixed;
    top: 10%;
    right: 1%;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 50px;
}

.illustration img {
    width: 100%;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.cust-img {
    width: auto;
    max-width: 60%;
    height: auto;
}

.mat-teal {
    background-color: #0a5659 !important;
}

.fab-button-cust {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
}

li.active-cust {
    background-color: rgb(255, 194, 1);
    height: 6px;
    border-radius: 50px;
}

li.mobile-active {
    background-color: rgb(255, 194, 1);
    width: auto;
    border-radius: 50px;
}

.custfont {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.custlinks {
    font-family: 'Nothing You Could Do', cursive;
    color: black;
    font-size: 17px;
}


.textcust {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
}

.custlinksfoot {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 14px;
}

.custhead {
    font-family: 'Pacifico', cursive;
}

.custsubhead {
    font-family: 'Meddon', cursive;
}

.infotext {
    font-family: 'Fredoka One', cursive;
}

.timelinetext {
    font-family: 'Lobster', cursive;
}

.abouttext {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 110%;
}

.name {
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.name:hover {
    -webkit-animation: tada 2s;
    animation: tada 1s;
    animation-iteration-count: 1;
}

/*.logoanim:hover {
    -webkit-animation: headShake 3s;
    animation: headShake 2s;
    animation-iteration-count: 1;
}*/

.inline-icon {
    vertical-align: bottom;
    font-size: 25px !important;
}

.inline-icon-card {
    vertical-align: bottom;
    font-size: 40px !important;
}

i.icon-teal {
    color: teal;
}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    bottom: 20px;
    right: 10px;
}

.border-radius-card {
    border-radius: 25px;
    height: 20%;
}

.border-radius-cardv2 {
    border-radius: 15px;
}

.border-radius-left {
    border-radius: 10px 70px 70px 70px;
}

.border-radius-right {
    border-radius: 70px 10px 70px 70px;
}

.fb-blue {
    background-color: #3B5999;
}

.pintrest-red {
    background-color: #BD081C;
}

.insta-pink {
    background-color: #E4405F;
}

.twitter-blue {
    background-color: #55ACEE;
}

.snapchat-yellow {
    background-color: #FFFC00;
}

.linkedin-blue {
    background-color: #0077B5;
}

.github {
    /*background-color: #333;*/
    background-color: #23292e;
}

/*
font-family: 'Pacifico',cursive;
font-family: 'Permanent Marker',cursive;
font-family: 'Nothing You Could Do',cursive;
font-family: 'Meddon',cursive;
font-family: 'Lobster',cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Covered By Your Grace', cursive;*/
