body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.custfont {
    font-family: 'Pacifico', cursive;
}

.custlinks {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 14px;
}


.textcust {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
}

.custlinksfoot {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 14px;
}

.custhead {
    font-family: 'Pacifico', cursive;
}

.custsubhead {
    font-family: 'Meddon', cursive;
}

.infotext {
    font-family: 'Fredoka One', cursive;
}

.timelinetext {
    font-family: 'Lobster', cursive;
}

.abouttext{
    font-family: 'Nothing You Could Do',cursive;
    font-size: 110%;
}

.name {
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.name:hover {
    -webkit-animation: tada 3s;
    animation: tada 2s;
    animation-iteration-count: 1;
}

.logoanim:hover {
    -webkit-animation: wobble 3s;
    animation: wobble 2s;
    animation-iteration-count: 1;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 25px !important;
}

.inline-icon-card {
    vertical-align: bottom;
    font-size: 40px !important;
}

i.icon-teal {
    color: teal;
}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

/*
font-family: 'Pacifico',cursive;
font-family: 'Permanent Marker',cursive;
font-family: 'Nothing You Could Do',cursive;
font-family: 'Meddon',cursive;
font-family: 'Lobster',cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Covered By Your Grace', cursive;*/
